.logo{
    display: flex;
    justify-content: left;
}
header{
    border-bottom-style: groove;
    background-color: white;
    padding: 12px 120px;
    border-bottom: 1px;
    border-color: #3A35411F;
}   
.background{
    display: flex;
    background-color: #FFFDEE;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 944px;
}

.container{
    display: table-column;
    justify-content: center;
    padding: 36px;
    border: 1px solid #F1F1F1 ;
    background-color: #FFFFFF;
    border-radius: 4px;
    width: 590px;
    height: auto;
    text-align: center;
}

.container h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    margin: 0;
}
.container p{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    color: #333333AD;
}

.email {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #4A505C;
    text-align: left;   
    margin-top: 31px;
    padding-left: 30px;
}

.password {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #4A505C;
    text-align: left;
    margin-top: 12px;
    padding-left: 30px;
}

.password input {
    background: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M10.83 6.5L14 9.66V9.5C14 8.70435 13.6839 7.94129 13.1213 7.37868C12.5587 6.81607 11.7956 6.5 11 6.5H10.83ZM6.53 7.3L8.08 8.85C8.03 9.06 8 9.27 8 9.5C8 10.2956 8.31607 11.0587 8.87868 11.6213C9.44129 12.1839 10.2044 12.5 11 12.5C11.22 12.5 11.44 12.47 11.65 12.42L13.2 13.97C12.53 14.3 11.79 14.5 11 14.5C9.67392 14.5 8.40215 13.9732 7.46447 13.0355C6.52678 12.0979 6 10.8261 6 9.5C6 8.71 6.2 7.97 6.53 7.3ZM1 1.77L3.28 4.05L3.73 4.5C2.08 5.8 0.78 7.5 0 9.5C1.73 13.89 6 17 11 17C12.55 17 14.03 16.7 15.38 16.16L15.81 16.58L18.73 19.5L20 18.23L2.27 0.5M11 4.5C12.3261 4.5 13.5979 5.02678 14.5355 5.96447C15.4732 6.90215 16 8.17392 16 9.5C16 10.14 15.87 10.76 15.64 11.32L18.57 14.25C20.07 13 21.27 11.36 22 9.5C20.27 5.11 16 2 11 2C9.6 2 8.26 2.25 7 2.7L9.17 4.85C9.74 4.63 10.35 4.5 11 4.5Z' fill='%236C717A'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
}


.container input{
    width: 518px;
    height: 48px;
    border-radius: 6px;
    border-color: #F1F1F1;
    border: 1px solid #F1F1F1;

}

span {
    color: #D32E1F;
}

.separator span{
    color: #4A505C;
}

h4 {
    display: flex;
    flex-direction: row;
    color: #4A505C;
    justify-content: right;
    size: 16px;
    font-family: 'DM Sans', sans-serif;
    align-items: flex-end   ;
    font-weight: 500;
    letter-spacing: 0.2px;
    padding-right: 31px;
}

.btnlogin-btn {
    width: 518px;
    height: 48px;
    border-radius: 10px;
    border-color: #3ECF4C;
    background-color: #3ECF4C;
    color: #FFFFFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-style: solid;
    margin-bottom: 10px;
}

.btnregister-btn {
    width: 518px;
    height: 48px;
    border-radius: 10px;
    border-color: #E2FCD9CC;
    background-color: #E2FCD9CC;
    text-align: center;
    color: #3ECF4C;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;   
    border-style: solid;
    margin-bottom: 15px;
}

.btngoogle-btn {
    width: 518px;
    height: 48px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border-color: #F1F1F1;
    color: #4A505C;
    justify-items: center;
    align-items: center;
    justify-content: center;
    border-style: solid;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    color: #4A505C;
    font-weight: 700;
    margin-top: 15px ;
    margin-bottom: 10px;
}

.separator {
    position: relative;
    overflow: hidden;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.separator>span{
    position: relative;
    display: inline-block;
    padding: 0;
}

.separator>span:before,
.separator>span:after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-bottom: 1px solid;
    width: 590px;
    margin: 0 20px;
    border-color: #F1F1F1;
}

.separator>span:before {
    right: 100%;
    margin-right: 10px;
}

.separator>span:after {
    left: 100%;
    margin-left: 10px;
}


.password {
    background-image: url("logo\Vector.svg");
    background-size: 24px 24px;
    background-position: 5px;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
    header {
        padding: 12px 20px;
    }
    .background {
        width: 100%;
        height: 850px; /* Adjust height for scrolling */
        flex-direction: column; /* Stack content vertically */
    }
    .container {
        width: 85%;
        padding: 20px;
        margin: 0 10px;
    }
    .container h2 {
        font-size: 24px;
        line-height: 28px;
    }
    .container p {
        font-size: 14px;
    }
    .email, .password {
        width: 100%; /* Make labels fit the container */
        margin-left: 0;
        padding-left: 0;

    }
    .container input {
        width: 100%; /* Make inputs fit container */
    }
    .btnlogin-btn,
    .btnregister-btn,
    .btngoogle-btn {
        width: 100%; /* Make buttons full width */
    }

    h4 {
        margin-right: 0;
        text-align: center;
        margin-top: 10px; /* Add space above */
    }
}
